<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="kr.tracom.mapper.cm.File.FileMapper"> 	

	<select id="selectFileList" resultType="Map" >
 		<![CDATA[
			SELECT 
				a.ATCH_FILE_ID, b.FILE_SN, b.FILE_STRE_COURS, b.STRE_FILE_NM,
				b.FILE_EXTSN, b.ORIGNL_FILE_NM, b.FILE_SIZE, a.CREAT_DT
			FROM
				TN_FILE a, TN_FILE_DETAIL b
			WHERE
				a.ATCH_FILE_ID = #atchFileId#
			AND 
				a.ATCH_FILE_ID = b.ATCH_FILE_ID
					
			ORDER BY b.FILE_SN	
 		]]>
 	</select>


 	<select id="selectNotImageFileList" resultType="Map" >
 		<![CDATA[
			SELECT 
				a.ATCH_FILE_ID, b.FILE_SN, b.FILE_STRE_COURS, b.STRE_FILE_NM,
				b.FILE_EXTSN, b.ORIGNL_FILE_NM, b.FILE_SIZE, a.CREAT_DT
			FROM
				TN_FILE a, TN_FILE_DETAIL b
			WHERE
				a.ATCH_FILE_ID = #atchFileId#
			AND 
				a.ATCH_FILE_ID = b.ATCH_FILE_ID				
			AND
				UPPER(b.FILE_EXTSN) NOT IN ('GIF','JPG','BMP','PNG')
			ORDER BY b.FILE_SN	
 		]]>
 	</select>
 	
 	<select id="selectAttachId" resultType="String">
 		SELECT CONCAT('AT', LPAD(NEXTVAL(SEQ_BMS_MULTI_ATTACH_MST_0), 8, '0')) AS 'ATTACH_ID'
 	</select>
 	 	
	<insert id="insertFileInf" parameterType="kr.tracom.mapper.cm.File.FileVO" >
		<![CDATA[
			INSERT INTO BMS_MULTI_ATTACH_MST
			(ATTACH_ID, UPD_DTM)
			VALUES
			( #{atchFileId}, NOW())			
		]]>
	</insert>
	
	<insert id="insertFileInfs" parameterType="kr.tracom.mapper.cm.File.FileVO" >
		<![CDATA[
			INSERT INTO BMS_MULTI_ATTACH_MST
			(ATTACH_ID, UPD_DTM)
			VALUES
			( #{atchFileId}, NOW())			
		]]>
	</insert>
	
	<insert id="insertFileDetail" parameterType="kr.tracom.mapper.cm.File.FileVO" >
		<![CDATA[
			INSERT INTO BMS_MULTI_ATTACH_DTL_INFO
			( ATTACH_ID, FILE_SN, FILE_PATH, FILE_NM, 
			  ORG_FILE_NM, FILE_EXT, FILE_SIZE )
			VALUES
			( #{atchFileId}, #{fileSn}, #{fileStreCours}, #{streFileNm}, 
			  #{orignlFileNm}, #{fileExtsn}, #{fileMg} )			
		]]>
	</insert>	
	
	<delete id="deleteFileDetail" parameterType="kr.tracom.mapper.cm.File.FileVO" >
		<![CDATA[
			DELETE FROM TN_FILE_DETAIL
			WHERE
				ATCH_FILE_ID = #atchFileId#
			AND	
				FILE_SN = #fileSn#			
		]]>	
	</delete>
 	
	<select id="getMaxFileSN" resultType="Map">
		<![CDATA[
			SELECT NVL(MAX(FILE_SN),0)+1 AS FILE_SN
			FROM TN_FILE_DETAIL
			WHERE ATCH_FILE_ID =  #atchFileId#		
		]]>
	</select>

 	<select id="selectFileInf" resultType="kr.tracom.mapper.cm.File.FileVO">
 		<![CDATA[
			SELECT 
				ATTACH_ID AS atchFileId,
				FILE_SN AS fileSn,
				ORG_FILE_NM AS orignlFileNm,
				FILE_NM AS streFileNm,
				FILE_SIZE AS fileMg,
				FILE_PATH AS fileStreCours,
				FILE_EXT AS fileExtsn
			FROM
				BMS_MULTI_ATTACH_DTL_INFO
			WHERE
				ATTACH_ID = #{atchFileId}
		 ]]>	
		 	<if test= "fileSn == 'pdf'">
		 		AND FILE_EXT = #{fileSn}
		 	</if>
		 	<if test= "fileSn != 'pdf'">
		 		AND FILE_SN = #{fileSn}	
		 	</if>
		 	
			<!-- <isEqual prepend="AND" property="fileSn" compareValue="pdf">
				FILE_EXTSN = #fileSn#	
			</isEqual>
			<isNotEqual prepend="AND" property="fileSn" compareValue="pdf">
				FILE_SN = #fileSn#	
			</isNotEqual> -->
			
 	</select>

	<update id="deleteCOMTNFILE" parameterType="kr.tracom.mapper.cm.File.FileVO">
		<![CDATA[
			UPDATE TN_FILE
			SET USE_AT = 'N'
			WHERE ATCH_FILE_ID = #atchFileId#
		]]>
	</update>

 	<select id="selectFileListByFileNm" resultType="Map">
	    <![CDATA[
	        SELECT * FROM ( SELECT rownum rn, TB.* FROM (
	    ]]>
 		<![CDATA[
			SELECT 
				a.ATCH_FILE_ID, b.FILE_SN, b.FILE_STRE_COURS, b.STRE_FILE_NM,
				b.FILE_EXTSN, b.ORIGNL_FILE_NM, b.FILE_SIZE, a.CREAT_DT
			FROM
				TN_FILE a, TN_FILE_DETAIL b
			WHERE
				a.ATCH_FILE_ID = b.ATCH_FILE_ID			
 		]]>
 			<if test="searchCnd == 'streFileNm'">
 				<![CDATA[	b.STRE_FILE_NM LIKE '%' || #searchWrd# || '%' 		]]>
 			</if>
 			<if test="searchCnd == 'orignlFileNm'">
 				<![CDATA[	b.ORIGNL_FILE_NM LIKE '%' || #searchWrd# || '%' 		]]>
 			</if>
 		
			<!-- <isEqual prepend="AND" property="searchCnd" compareValue="streFileNm">
				<![CDATA[	b.STRE_FILE_NM LIKE '%' || #searchWrd# || '%' 		]]>
			</isEqual>
			<isEqual prepend="AND" property="searchCnd" compareValue="orignlFileNm">
				<![CDATA[	b.ORIGNL_FILE_NM LIKE '%' || #searchWrd# || '%' 		]]>
			</isEqual>	 -->
			
			
		<![CDATA[			
			ORDER BY a.ATCH_FILE_ID, b.FILE_SN	
		]]>		 		
	    <![CDATA[
	         ) TB ) WHERE rn BETWEEN #firstIndex# + 1 AND #firstIndex# + #recordCountPerPage#
	    ]]>
 	</select>

 	<select id="selectFileListCntByFileNm" resultType="Map">
 		<![CDATA[
			SELECT 
				COUNT(a.ATCH_FILE_ID)
			FROM
				TN_FILE a, TN_FILE_DETAIL b
			WHERE
				a.ATCH_FILE_ID = b.ATCH_FILE_ID						
 		]]>
 			<if test="searchCnd == 'streFileNm'">
 				<![CDATA[	b.STRE_FILE_NM LIKE '%' || #searchWrd# || '%' 		]]>
 			</if>
 			<if test="searchCnd == 'originFileNm'">
 				<![CDATA[	b.ORIGNL_FILE_NM LIKE '%' || #searchWrd# || '%' 		]]>
 			</if>
 		
			<!-- <isEqual prepend="AND" property="searchCnd" compareValue="streFileNm">
				<![CDATA[	b.STRE_FILE_NM LIKE '%' || #searchWrd# || '%' 		]]>
			</isEqual>
			<isEqual prepend="AND" property="searchCnd" compareValue="orignlFileNm">
				<![CDATA[	b.ORIGNL_FILE_NM LIKE '%' || #searchWrd# || '%' 		]]>
			</isEqual>	  -->		
 	</select>
 	
  	<select id="selectImageFileList" resultType="Map" >
 		<![CDATA[
			SELECT 
				a.ATCH_FILE_ID, b.FILE_SN, b.FILE_STRE_COURS, b.STRE_FILE_NM,
				b.FILE_EXTSN, b.ORIGNL_FILE_NM, b.FILE_SIZE, a.CREAT_DT
			FROM
				TN_FILE a, TN_FILE_DETAIL b
			WHERE
				a.ATCH_FILE_ID = #atchFileId#
			AND 
				a.ATCH_FILE_ID = b.ATCH_FILE_ID
			AND
				UPPER(b.FILE_EXTSN) IN ('GIF','JPG','BMP','PNG')						
			ORDER BY b.FILE_SN	
 		]]>
 	</select>	

  	<select id="selectVideoFileList" resultType="Map" >
 		<![CDATA[
			SELECT 
				a.ATCH_FILE_ID, b.FILE_SN, b.FILE_STRE_COURS, b.STRE_FILE_NM,
				b.FILE_EXTSN, b.ORIGNL_FILE_NM, b.FILE_SIZE, a.CREAT_DT
			FROM
				TN_FILE a, TN_FILE_DETAIL b
			WHERE
				a.ATCH_FILE_ID = #atchFileId#
			AND 
				a.ATCH_FILE_ID = b.ATCH_FILE_ID
			AND
				UPPER(b.FILE_EXTSN) IN ('MP4','MP4')
						
			ORDER BY b.FILE_SN	
 		]]>
 	</select>	 	
 	
	<select id="getSumFileSize" resultType="Map">
		<![CDATA[
			SELECT NVL(SUM(FILE_SIZE),0)
			FROM TN_FILE_DETAIL
			WHERE ATCH_FILE_ID =  #atchFileId#
		]]>
	</select>

</mapper>
