<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.mapper.cm.RepRout.RepRoutMapper">
	<select id="selectRepRoutList" resultType="Map">
		SELECT ROUT_GRP, ROUT_GRP_NM, ROUT_TYPE, ROUT_DIV, ST_STTN_ID, 
		(SELECT STTN_NM FROM BMS_STTN_MST WHERE STTN_ID = ST_STTN_ID AND DEL_YN!='Y') ST_STTN_NM,
		(SELECT STTN_ENM FROM BMS_STTN_MST WHERE STTN_ID = ST_STTN_ID AND DEL_YN!='Y') ST_STTN_ENM,
		ED_STTN_ID, 
		(SELECT STTN_NM FROM BMS_STTN_MST WHERE STTN_ID = ED_STTN_ID AND DEL_YN!='Y') ED_STTN_NM,
		(SELECT STTN_ENM FROM BMS_STTN_MST WHERE STTN_ID = ED_STTN_ID AND DEL_YN!='Y') ED_STTN_ENM,
		WAY_YN, HOLI_YN, AREA,REMARK
		FROM BMS_ROUT_GRP_MST WHERE USE_YN = 'Y'
		<if test="@kr.tracom.util.CommonUtil@notEmpty(CONTENT)">
			<if test="TYPE == 'ALL'">
				AND ROUT_GRP LIKE CONCAT('%',#{CONTENT},'%') || ROUT_GRP_NM LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'ROUT_GRP'">
				AND ROUT_GRP LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'ROUT_GRP_NM'">
				AND ROUT_GRP_NM LIKE CONCAT('%',#{CONTENT},'%')
			</if>
		</if>
		ORDER BY ROUT_GRP
	</select>
	
	<select id="selectRepRoutItem" resultType="Map">
		SELECT ROUT_GRP, ROUT_GRP_NM
		FROM BMS_ROUT_GRP_MST
		WHERE DEL_YN = 'N'
		ORDER BY ROUT_GRP
	</select>
	
	
	<select id="selectRepRoutListByNode" resultType="Map">
		SELECT A.ROUT_ID, ROUT_NM, ROUT_TYPE, ROUT_DIV, ST_STTN_ID, 
		(SELECT STTN_NM FROM BMS_STTN_MST WHERE STTN_ID = ST_STTN_ID AND DEL_YN!='Y') ST_STTN_NM,
		(SELECT STTN_ENM FROM BMS_STTN_MST WHERE STTN_ID = ST_STTN_ID AND DEL_YN!='Y') ST_STTN_ENM,
		ED_STTN_ID, 
		(SELECT STTN_NM FROM BMS_STTN_MST WHERE STTN_ID = ED_STTN_ID AND DEL_YN!='Y') ED_STTN_NM,
		(SELECT STTN_ENM FROM BMS_STTN_MST WHERE STTN_ID = ED_STTN_ID AND DEL_YN!='Y') ED_STTN_ENM,
		<!-- WAY_DIV, --> 
		HOLI_YN, REMARK
		FROM BMS_ROUT_MST A INNER JOIN BMS_ROUT_NODE_CMPSTN_VW B 
		ON A.ROUT_ID = B.ROUT_ID AND A.DEL_YN !="Y" 
		LEFT JOIN BMS_NODE_MST NM
		ON	 B.NODE_ID =  NM.NODE_ID AND NM.NODE_TYPE != 'NT006'
		WHERE A.USE_YN = 'Y'  
		<if test="@kr.tracom.util.CommonUtil@notEmpty(STTN_ID)">
			AND B.STTN_ID = #{STTN_ID}
		</if>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(CRS_ID)">
			AND B.CRS_ID = #{CRS_ID}
		</if>
	</select>
	
	
</mapper>