<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tracom.mapper.SI.SI0105Mapper">

	<select id="SI0105G0R0" parameterType="Map" resultType="Map">
		SELECT 		A.MTNC_ID
				,	A.MTNC_NM
				,	A.SLT_ID
				,	A.DVC_ID
				,	A.WORKER_ID
				,	DATE_FORMAT(A.APPL_DTM,'%Y-%m-%d') APPL_DTM
				,	A.CPMLT_YN
				,	DATE_FORMAT(A.CPMLT_DTM,'%Y-%m-%d') CPMLT_DTM
				,	A.REMARK
				,	A.UPD_ID
				,	A.UPD_DTM
				,	B.SLT_NM
				,	C.DVC_KIND
				,	DL1.DL_CD_NM AS DVC_KIND_CD
				
		FROM		SLT_DVC_MTNC_MST A
		LEFT JOIN	SLT_FCLT_MST B
			ON		A.SLT_ID = B.SLT_ID
		LEFT JOIN	SLT_DVC_INFO C
			ON		A.DVC_ID = C.DVC_ID
		LEFT JOIN	PLF_DL_CD_INFO DL1
			ON		C.DVC_KIND = DL1.DL_CD
			AND		DL1.CO_CD = 'DVC_KIND'						
		<where>
			<if test= "CONTENT != null and CONTENT != ''">
				A.MTNC_ID LIKE CONCAT('%',#{CONTENT},'%') || B.SLT_NM LIKE CONCAT('%',#{CONTENT},'%') || C.DVC_KIND LIKE CONCAT('%',#{CONTENT},'%')
			</if>
		</where>	
	
	</select>
	
	<select id="SI0105G0R1" parameterType="Map" resultType="Map">
		SELECT  COUNT(MTNC_ID) AS COUNT_ID
		FROM	SLT_DVC_MTNC_WORK_INFO	
		WHERE
			MTNC_ID = #{MTNC_ID}
	
	</select>	
	
	<select id="SI0105G0K0" resultType="Map">
		SELECT CONCAT('MI', LPAD(NEXTVAL(SEQ_SLT_DVC_MTNC_MST_0), 8, '0')) AS 'SEQ'
	</select>
	
	<insert id="SI0105G0I0" parameterType="Map">
		INSERT INTO	SLT_DVC_MTNC_MST
				(
					MTNC_ID
				,	MTNC_NM	
				,	SLT_ID
				,	DVC_ID
				,	WORKER_ID
				,	APPL_DTM
				,	CPMLT_YN
				,	CPMLT_DTM
				,	REMARK
				,	UPD_ID
				,	UPD_DTM			
				)
				
		VALUES (
					#{MTNC_ID}
				,	#{MTNC_NM}	
				,	#{SLT_ID}
				,	#{DVC_ID}
				,	#{WORKER_ID}
				,	#{APPL_DTM}
				,	#{CPMLT_YN}
				,	#{CPMLT_DTM}
				,	#{REMARK}
				,	#{UPD_ID}
				,	#{UPD_DTM}				
				)		
	
	</insert>
	
	<update id="SI0105G0U0" parameterType="Map">
		UPDATE  	SLT_DVC_MTNC_MST
		SET		
					SLT_ID = #{SLT_ID}
				,	MTNC_ID = #{MTNC_ID}	
				,	MTNC_NM = #{MTNC_NM}	
				,	DVC_ID = #{DVC_ID}
				,	WORKER_ID = #{WORKER_ID}
				,	APPL_DTM = #{APPL_DTM}
				,	CPMLT_YN = #{CPMLT_YN}
				,	CPMLT_DTM = #{CPMLT_DTM}
				,	REMARK = #{REMARK}
				,	UPD_ID = #{UPD_ID}
				,	UPD_DTM = #{UPD_DTM}	
				
		WHERE		MTNC_ID = #{MTNC_ID}	
	</update>
	
	<delete id="SI0105G0D0" parameterType="Map">
		DELETE
		FROM		SLT_DVC_MTNC_MST
		WHERE		MTNC_ID = #{MTNC_ID}
	
	</delete>

</mapper>
