<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tracom.mapper.SM.SM0103Mapper">

	<select id="SM0103G0R0" parameterType="Map" resultType="Map">
		SELECT 		CO_CD
				,	CO_CD_NM
				,	SORT
				,	CO_CD_ENM
				,	USE_YN
				,	REMARK
				
		FROM 		PLF_CO_CD_INFO A
		
		<where>
			<if test="CONTENT != null and CONTENT != ''">
				AND A.USE_YN = #{CONTENT}
			</if>
		</where>
		ORDER BY SORT	
	
	</select>
	
	<insert id="SM0103G0I0" parameterType="Map">
		INSERT INTO	PLF_CO_CD_INFO
				(
					CO_CD
				,	CO_CD_NM
				,	SORT
				,	CO_CD_ENM
				,	USE_YN
				,	REMARK
				,	UPD_DTM
				,	UPD_ID
				)
				
		VALUES (
					#{CO_CD}
				,	#{CO_CD_NM}
				,	#{SORT}
				,	#{CO_CD_ENM}
				,	#{USE_YN}
				,	#{REMARK}
				,	#{UPD_DTM}
				,	#{SSN_USER_ID}				
				)		
	
	</insert>
	
	<update id="SM0103G0U0" parameterType="Map">
		UPDATE  	PLF_CO_CD_INFO
		SET		
					CO_CD_NM = #{CO_CD_NM}
				,	SORT = #{SORT}
				,	CO_CD_ENM = #{CO_CD_ENM}
				,	USE_YN = #{USE_YN}
				,	REMARK = #{REMARK}
				,	UPD_DTM = #{UPD_DTM}
				,	UPD_ID = #{UPD_ID}
				
		WHERE		CO_CD = #{CO_CD}
	</update>
	
	<delete id="SM0103G0D0" parameterType="Map">
		DELETE
		FROM		PLF_CO_CD_INFO
		WHERE		CO_CD = #{CO_CD}
	
	</delete>

</mapper>
