<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tracom.mapper.SM.SM0104Mapper">

	<select id="SM0104G0R0" parameterType="Map" resultType="Map">
		SELECT P.PROG_CD, P.PROG_NM, P.PROG_GRP_CD, P.PROG_PH
			 , P.USE_YN, P.REMARK
		  FROM PLF_PROG_MST P
		<where>
			<if test="CONTENT != null and CONTENT != ''">
				AND P.USE_YN = #{CONTENT}
			</if>
		</where>
		ORDER BY P.PROG_CD
	</select>
	
	<select id="SM0104G1R0" parameterType="Map" resultType="Map">
		SELECT P.PROG_CD, P.AUTH_CD, A.AUTH_NM, P.AUTH_CHECK, P.SCH_AH, P.SAV_AH, P.GEX_AH, P.IEX_AH, P.EXL_AH, P.DEL_AH
		, P.FN1_AH, P.FN2_AH, P.FN3_AH, P.FN4_AH, P.FN5_AH, P.FN6_AH, P.FN7_AH, P.FN8_AH, P.HELP_AH
		  FROM PLF_PROG_AUTH_INFO P, PLF_AUTHORITY_MST A 
		 WHERE P.AUTH_CD = A.AUTH_CD
		   AND P.PROG_CD = #{PROG_CD}
		   AND A.USE_YN = 'Y'
		 ORDER BY AUTH_CD
	</select>
	
	<select id="SM0104SHI0" resultType="Map">
		SELECT		AUTH_CD
				,	AUTH_NM
		FROM		PLF_AUTHORITY_MST		
	
	</select>
	
	<insert id="SM0104G1I0" parameterType="Map">
		INSERT INTO	PLF_PROG_AUTH_INFO
				(
					AUTH_CD
				,	PROG_CD
				,	AUTH_CHECK
				,	SCH_AH
				,	SAV_AH
				,	GEX_AH
				,	IEX_AH
				,	EXL_AH
				,	DEL_AH
				,	FN1_AH
				,	FN2_AH
				,	FN3_AH
				,	FN4_AH
				,	FN5_AH
				,	FN6_AH
				,	FN7_AH
				,	FN8_AH
				,	HELP_AH
				,	UPD_DTM
				,	UPD_ID				
				)
				
		VALUES (
					#{AUTH_CD}
				,	#{PROG_CD}
				,	#{AUTH_CHECK}
				,	#{SCH_AH}
				,	#{SAV_AH}
				,	#{GEX_AH}
				,	#{IEX_AH}
				,	#{EXL_AH}
				,	#{DEL_AH}
				,	#{FN1_AH}
				,	#{FN2_AH}
				,	#{FN3_AH}
				,	#{FN4_AH}
				,	#{FN5_AH}
				,	#{FN6_AH}
				,	#{FN7_AH}
				,	#{FN8_AH}
				,	#{HELP_AH}
				,	#{UPD_DTM}
				,	#{SSN_USER_ID}			
				)		
	
	</insert>
	
	<update id="SM0104G1U0" parameterType="Map">
		UPDATE  	PLF_PROG_AUTH_INFO
		SET		
					AUTH_CHECK = #{AUTH_CHECK}
				,	SCH_AH = #{SCH_AH}
				,	SAV_AH = #{SAV_AH}
				,	GEX_AH = #{GEX_AH}
				,	IEX_AH = #{IEX_AH}
				,	EXL_AH = #{EXL_AH}
				,	DEL_AH = #{DEL_AH}
				,	FN1_AH = #{FN1_AH}
				,	FN2_AH = #{FN2_AH}
				,	FN3_AH = #{FN3_AH}
				,	FN4_AH = #{FN4_AH}
				,	FN5_AH = #{FN5_AH}
				,	FN6_AH = #{FN6_AH}
				,	FN7_AH = #{FN7_AH}
				,	FN8_AH = #{FN8_AH}
				,	HELP_AH = #{HELP_AH}
				,	UPD_DTM = #{UPD_DTM}
				,	UPD_ID	= #{SSN_USER_ID}
				
		WHERE		AUTH_CD = #{AUTH_CD}
		AND			PROG_CD = #{PROG_CD}
	</update>
	
	<delete id="SM0104G1D0" parameterType="Map">
		DELETE
		FROM		PLF_PROG_AUTH_INFO
		WHERE		AUTH_CD = #{AUTH_CD}
		AND			PROG_CD = #{PROG_CD}
	
	</delete>

</mapper>
