<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tracom.mapper.SM.SM0201Mapper">

	<select id="SM0201G0R0" parameterType="Map" resultType="Map">
		SELECT 		AUTH_CD, 
					<!-- SYSTEM_BIT, --> 
					AUTH_NM, 
					USE_YN,
					REMARK
		 
		FROM 		PLF_AUTHORITY_MST
		
		<where>
			<if test="CONTENT != null and CONTENT != ''">
				AND USE_YN = #{CONTENT}
			</if>
		</where>
	
	</select>
	
	<select id="SM0201G0K0" resultType="Map">
		SELECT CONCAT('AG', LPAD(NEXTVAL(SEQ_PLF_AUTHORITY_MST_0), 8, '0')) AS 'SEQ'
	</select>	
	
	<insert id="SM0201G0I0" parameterType="Map">
		INSERT INTO	PLF_AUTHORITY_MST
				(
					AUTH_CD 
					<!-- SYSTEM_BIT, --> 
				,	AUTH_NM 
				,	USE_YN
				,	REMARK
				,	UPD_DTM
				,	UPD_ID
				)
				
		VALUES (
					#{AUTH_CD} 
					<!-- SYSTEM_BIT, --> 
				,	#{AUTH_NM} 
				,	#{USE_YN}
				,	#{REMARK}
				,	#{UPD_DTM}
				,	#{SSN_USER_ID}				
				)		
	
	</insert>
	
	<update id="SM0201G0U0" parameterType="Map">
		UPDATE  	PLF_AUTHORITY_MST
		SET		
					<!-- SYSTEM_BIT, --> 
					AUTH_NM = #{AUTH_NM} 
				,	USE_YN = #{USE_YN}
				,	REMARK = #{REMARK}
				,	UPD_DTM = #{UPD_DTM}
				,	UPD_ID = #{SSN_USER_ID}
				
		WHERE		AUTH_CD = #{AUTH_CD}
	</update>
	
	<delete id="SM0201G0D0" parameterType="Map">
		DELETE
		FROM		PLF_AUTHORITY_MST
		WHERE		AUTH_CD = #{AUTH_CD}
	
	</delete>

</mapper>
