<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tracom.mapper.SM.SM0202Mapper">

	<select id="SM0202G0R0" parameterType="Map" resultType="Map">
		SELECT 
					A.USER_ID
					,A.ORG_ID
					,A.SYSTEM_BIT
					,A.USER_NM
					,A.USER_PS
					,A.EMAIL
					,A.HP_NO
					,A.USE_YN
					,A.REMARK
					,A.JOB_POSITION
					,A.JOB_DUTY
		FROM 		PLF_USER_MST A
		
		<where>
			<if test="CONTENT != null and CONTENT != ''">
				AND A.USE_YN = #{CONTENT}
			</if>
		</where>
	
	</select>
	
	<insert id="SM0202G0I0" parameterType="Map">
		INSERT INTO	PLF_USER_MST
				(
					USER_ID
				,	USER_NM
				,	AUTH_CD
				,	USER_PS
				,	USE_YN
				,	REMARK
				,	UPD_DTM
				,	UPD_ID
				)
				
		VALUES (
					#{USER_ID}
				,	#{USER_NM}
				,	#{AUTH_CD}
				,	#{USER_PS}
				,	#{USE_YN}
				,	#{REMARK}
				,	#{UPD_DTM}
				,	#{SSN_USER_ID}				
				)		
	
	</insert>
	
	<update id="SM0202G0U0" parameterType="Map">
		UPDATE  	PLF_USER_MST
		SET		
					USER_NM = #{USER_NM}
				,	AUTH_CD = #{AUTH_CD}
				<if test="USER_PS != ''">
				,	USER_PS = #{USER_PS}
				</if>
				,	USE_YN = #{USE_YN}
				,	REMARK = #{REMARK}
				,	UPD_DTM = #{UPD_DTM}
				,	UPD_ID = #{SSN_USER_ID}
				
		WHERE		USER_ID = #{USER_ID}
	</update>
	
	<delete id="SM0202G0D0" parameterType="Map">
		DELETE
		FROM		PLF_USER_MST
		WHERE		USER_ID = #{USER_ID}
	
	</delete>

</mapper>
