<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tracom.mapper.PM.PM0103Mapper">

	<select id="PM0103G0R0" parameterType="Map" resultType="Map">
		SELECT 
				B.SLT_ID,
				A.SLT_NM,
				B.DVC_ID,
				B.DVC_KIND,	
				DL1.DL_CD_NM AS DVC_KIND_CD,
				B.DVC_TYPE,	
				DATE_FORMAT(B.INST_DT, '%Y-%m-%d') INST_DT,
				B.USE_YN,
				B.REMARK
				
				FROM SLT_FCLT_MST A
				LEFT JOIN SLT_DVC_INFO B
				ON A.SLT_ID = B.SLT_ID
				LEFT JOIN PLF_DL_CD_INFO DL1
				ON B.DVC_KIND = DL1.DL_CD
		
		WHERE	B.USE_YN = 'Y'
			<if test= "CONTENT != null and CONTENT != ''">
				AND SLT_NM LIKE CONCAT('%',#{CONTENT},'%') || DVC_ID LIKE CONCAT('%',#{CONTENT},'%') || DVC_KIND LIKE CONCAT('%',#{CONTENT},'%')
			</if>
		ORDER BY B.SLT_ID, B.DVC_ID ASC;
	
	</select>

	<select id="PM0103G1R0" parameterType="Map" resultType="Map">
		SELECT 
				A.SLT_ID,
				A.DVC_ID,
				A.DVC_KIND,
				DL1.DL_CD_NM AS DVC_KIND_CD,
				A.PARAM_DIV,
				DL2.DL_CD_NM AS PARAM_DIV_CD,
				A.PARAM_KIND,
				DL3.DL_CD_NM AS PARAM_KIND_CD,
				A.SN,
				A.ST_TIME,
				A.ED_TIME,
				A.DATA_VAL,
				A.REMARK,
				DATE_FORMAT(A.UPD_DTM, '%Y-%m-%d') UPD_DTM,
				A.UPD_ID
				
				FROM SLT_DVC_SCH_INFO A 
				LEFT JOIN PLF_DL_CD_INFO DL1
				ON A.DVC_KIND = DL1.DL_CD
				AND DL1.CO_CD = 'DVC_KIND' 
				LEFT JOIN PLF_DL_CD_INFO DL2
				ON A.PARAM_DIV = DL2.DL_CD
				AND DL2.CO_CD = 'PARAM_DIV'
				LEFT JOIN PLF_DL_CD_INFO DL3
				ON A.PARAM_KIND = DL3.DL_CD
				AND DL3.CO_CD = 'PARAM_KIND'
				
				WHERE		SLT_ID = #{CONDITION}
				AND			DVC_ID = #{DEVICE}
	
	</select>
	
	<insert id="PM0103G1I0" parameterType="Map">
		INSERT INTO	SLT_DVC_SCH_INFO
				(
					DVC_KIND
				,	PARAM_DIV
				,	PARAM_KIND
				,	DATA_TYPE
				,	DATA_LENGTH
				,	DATA_VAL
				,	ATTR1_VAL
				,	ATTR2_VAL
				,	SCHEDULE_YN
				,	USE_YN
				,	AUTO_YN
				,	REMARK
				,	UPD_DTM
				,	UPD_ID				
				)
				
		VALUES (
					#{DVC_KIND}
				,	#{PARAM_DIV}
				,	#{PARAM_KIND}
				,	#{DATA_TYPE}
				,	#{DATA_LENGTH}
				,	#{DATA_VAL}
				,	#{ATTR1_VAL}
				,	#{ATTR2_VAL}
				,	#{SCHEDULE_YN}
				,	#{USE_YN}
				,	#{AUTO_YN}
				,	#{REMARK}
				,	#{REMARK}
				,	#{UPD_DTM}
				,	#{SSN_USER_ID}			
				)		
	
	</insert>
	
	<update id="PM0103G1U0" parameterType="Map">
		UPDATE  	SLT_DVC_SCH_INFO
		SET		
					DVC_KIND = #{DVC_KIND}
				,	PARAM_DIV = #{PARAM_DIV}
				,	PARAM_KIND = #{PARAM_KIND}
				,	DATA_TYPE = #{DATA_TYPE}
				,	DATA_LENGTH = #{DATA_LENGTH}
				,	DATA_VAL = #{DATA_VAL}
				,	ATTR1_VAL = #{ATTR1_VAL}
				,	ATTR2_VAL = #{ATTR2_VAL}
				,	SCHEDULE_YN = #{SCHEDULE_YN}
				,	USE_YN = #{USE_YN}
				,	REMARK = #{REMARK}
				,	UPD_DTM = #{UPD_DTM}
				,	UPD_ID = #{UPD_ID}
				
		WHERE		DVC_KIND = #{DVC_KIND}
		AND			PARAM_DIV = #{PARAM_DIV}
		AND			PARAM_KIND = #{PARAM_KIND}
	</update>
	
	<delete id="PM0103G1D0" parameterType="Map">
		DELETE
		FROM		SLT_DVC_SCH_INFO
		WHERE		DVC_KIND = #{DVC_KIND}
		AND			PARAM_DIV = #{PARAM_DIV}
		AND			PARAM_KIND = #{PARAM_KIND}
	
	</delete>

</mapper>
