<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.mapper.tims.HistoryMapper">
	
	<!--디스패치 이력-->
	<insert id="insertDispatchHistory" parameterType="Map">
		INSERT INTO BMS_DSPTCH_LOG (
			SEND_DTM
			,OPER_DT
			,ALLOC_ID
			,VHC_ID
			,DSPTCH_DIV
			,ROUT_ID				
			,ALLOC_NO
			,OPER_SN
			,ORG_OPER_SN
			,COR_ID
			,ROUT_GRP
			,ROUT_GRP_NM
			,ROUT_NM			
			,VHC_NO
			,LINK_ID
			,NODE_ID
			,DSPTCH_KIND
			,SEND_GPS_X
			,SEND_GPS_Y
			,DSPTCH_CONTS
		) 
		VALUES (
			#{SEND_DATE}
			,#{OPER_DT}
			,#{ALLOC_ID}
			,#{VHC_ID}
			,#{DSPTCH_DIV}
			,#{ROUT_ID}											
			,#{ALLOC_NO}
			,#{OPER_SN}
			,#{ORG_OPER_SN}
			,#{COR_ID}
			,#{ROUT_GRP}			
			,#{ROUT_GRP_NM}
			,#{ROUT_NM}
			,#{VHC_NO}
			,#{LINK_ID}
			,#{NODE_ID}
			,#{DSPTCH_KIND}			
			,#{GPS_X}
			,#{GPS_Y}
			,#{DSPTCH_CONTS}
		)	
	</insert>
	
	
	<!--운행이벤트 이력-->
	<insert id="insertEventHistory" parameterType="Map">
		INSERT INTO BMS_CUR_OPER_EVENT_HIS (
			UPD_DTM
			,OPER_DT
			,ALLOC_ID
			,VHC_ID
			,ROUT_GRP
			,VHC_NO
			,DRV_ID
			,COR_ID
			,ROUT_ID
			,ALLOC_NO
			,OPER_SN
			,ORG_OPER_SN
			,GPS_X_RAW
			,GPS_Y_RAW
			,DRV_ANGLE
			,GPS_X
			,GPS_Y
			,CUR_SPD
			,LINK_ID
			,NODE_ID
			,NODE_SN
			,OPER_STS
			,EVT_TYPE
			,EVT_DATA
			,STOP_TM
			,ROUT_STTN_LINK_ID
			,OCR_DTM
		) 
		VALUES (
			NOW(3)
			,#{OPER_DT}
			,#{ALLOC_ID}
			,#{VHC_ID}
			,#{ROUT_GRP}
			,#{BUS_NO}
			,#{DRV_ID}
			,#{COURSE_ID}
			,#{ROUT_ID}
			,#{ALLOC_NO}  <!--alloc no 찾기 -->
			,#{OPER_SN} <!--oper sn 찾기 -->	
			,#{ORG_OPER_SN}
			,#{LONGITUDE_RAW}
			,#{LATITUDE_RAW}
			,#{HEADING}
			,#{LONGITUDE}
			,#{LATITUDE}
			,#{SPEED}
			,#{LINK_ID}
			,#{NODE_ID}
			,#{NODE_SN}
			,#{OPER_STS}
			,#{EVT_TYPE}
			,#{EVENT_DATA} 
			,#{STOP_TM}
			,#{ROUT_STTN_LINK_ID}
			,#{UPD_DTM}
		)
	</insert>
	
	
	<!--운행위반 이력-->
	<insert id="insertOperVioltHistory" parameterType="Map">
		INSERT INTO BMS_OPER_VIOLT_HIS (
			UPD_DTM
			,OPER_DT
			,ALLOC_ID
			,VHC_ID
			,ROUT_GRP
			,ROUT_ID
			,ALLOC_NO
			,OPER_SN
			,ORG_OPER_SN
			,COR_ID
			,VHC_NO			
			,DRV_ID
			,GPS_X
			,GPS_Y
			,LINK_ID
			,NODE_ID
			,VIOLT_TYPE
			,OCR_DTM
		) 
		VALUES (
			NOW()
			,#{OPER_DT}
			,#{ALLOC_ID}
			,#{VHC_ID}
			,#{ROUT_GRP}
			,#{ROUT_ID}			
			,#{ALLOC_NO}
			,#{OPER_SN}
			,#{ORG_OPER_SN}
			,#{COURSE_ID}
			,#{BUS_NO}
			,#{DRV_ID}
			,#{LONGITUDE}
			,#{LATITUDE}
			,#{LINK_ID}
			,#{NODE_ID}
			,#{VIOLT_TYPE}
			,#{OCR_DTM}			
		)
	</insert>
	
	<update id="updateFcltCondParamInfo" parameterType="Map">
		
		<!-- 에어컨 전원 -->
		UPDATE 
			BMS_FCLT_COND_PARAM_INFO
		SET
			DATA_VAL = #{SWITCH}
		WHERE
			FCLT_ID = #{FCLT_ID}
			AND PARAM_DIV = 'PD003'
			AND PARAM_KIND = 'PK002';
		
		<!-- 에어컨 현재 온도 -->	
		UPDATE 
			BMS_FCLT_COND_PARAM_INFO
		SET
			DATA_VAL = #{TEMP}
		WHERE
			FCLT_ID = #{FCLT_ID}
			AND PARAM_DIV = 'PD003'
			AND PARAM_KIND = 'PK022';
		
		<!-- 에어컨 희망 온도 -->	
		UPDATE 
			BMS_FCLT_COND_PARAM_INFO
		SET
			DATA_VAL = #{COOL_SET}
		WHERE
			FCLT_ID = #{FCLT_ID}
			AND PARAM_DIV = 'PD003'
			AND PARAM_KIND = 'PK047';
	</update>
	
</mapper>