<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="kr.tracom.mapper.VH0207.VH0207Mapper">
  
	  <select id="VH0207G0R0" resultType="Map">
			SELECT  DATE_FORMAT(A.OPER_DT, '%Y-%m-%d') OPER_DT
					,A.ROUT_GRP
					,B.ROUT_GRP_NM
					,A.COMP_ID
					,C.COMP_NM
					,A.ROUT_ID
					,A.ALLOC_NO
					,A.OPER_SN
					,A.VHC_NO
					,A.OPER_ST_TM
					,A.OPER_ED_TM
					,A.OPER_RET_TM
					,A.OPER_TM
					,A.UPD_DTM
					,COUNT(A.OPER_SN) AS OPER_PLAN
					,SUM(if(A.VHC_NO IS NOT NULL AND A.VHC_NO != '',1,0))AS ACTUAL_OPER
			FROM BMS_ROUT_OPER_STAT2 A
					LEFT OUTER JOIN BMS_ROUT_GRP_MST B
					ON A.ROUT_GRP = B.ROUT_GRP
					LEFT OUTER JOIN BMS_TRANSCOMP_MST C
					ON A.COMP_ID = C.COMP_ID
			WHERE
				OPER_DT IS NOT NULL
				<if test="CONTENT != NULL">
					AND A.ROUT_GRP LIKE CONCAT('%',#{CONTENT},'%') 
				</if>
				<if test="COMPSEARCH != NULL">
					AND A.COMP_ID LIKE CONCAT('%',#{COMPSEARCH},'%')
				</if>
				<if test="F_DATE != null and F_DATE != '' and L_DATE != null and L_DATE != '' ">
					AND DATE_FORMAT(A.OPER_DT, '%Y-%m-%d') BETWEEN #{F_DATE} AND #{L_DATE}
				</if>
			GROUP BY A.OPER_DT,A.ROUT_GRP,A.COMP_ID
			ORDER BY A.OPER_DT
		</select>
		
		<!-- 상세 정보 그리드 -->
		<select id="VH0207G1R0" resultType="Map">
			SELECT  DATE_FORMAT(A.OPER_DT, '%Y-%m-%d') OPER_DT
					,A.ROUT_GRP
					,B.ROUT_GRP_NM
					,A.COMP_ID
					,C.COMP_NM
					,A.ROUT_ID
					,D.ROUT_NM
					,A.ALLOC_NO
					,A.OPER_SN
					,A.VHC_NO
					,A.OPER_ST_TM
					,A.OPER_ED_TM
					,A.OPER_RET_TM
					,A.OPER_TM
					,A.UPD_DTM
			FROM BMS_ROUT_OPER_STAT2 A
				LEFT OUTER JOIN BMS_ROUT_GRP_MST B
				ON A.ROUT_GRP = B.ROUT_GRP
				LEFT OUTER JOIN BMS_TRANSCOMP_MST C
				ON A.COMP_ID = C.COMP_ID
				LEFT OUTER JOIN BMS_ROUT_MST D
				ON A.ROUT_ID = D.ROUT_ID
			WHERE 
				OPER_DT IS NOT NULL
				
				AND A.OPER_DT LIKE CONCAT('%',#{CONDITION1},'%') 
				AND A.ROUT_GRP LIKE CONCAT('%',#{CONDITION2},'%') 
				AND A.COMP_ID LIKE CONCAT('%',#{CONDITION3},'%')
				 
			ORDER BY A.OPER_SN
		</select>
		
		<select id="VH0207G2R0" resultType="Map">
			SELECT  DATE_FORMAT(A.OPER_DT, '%Y-%m-%d') OPER_DT
					,A.ROUT_GRP
					,RG.DL_CD_NM AS ROUT_GRP_NM
					,A.COMP_ID
					,C.COMP_NM
					,A.ROUT_ID
					,D.ROUT_NM
					,A.ALLOC_NO
					,A.OPER_SN
					,A.VHC_NO
					,A.OPER_ST_TM
					,A.OPER_ED_TM
					,A.OPER_RET_TM
					,A.OPER_TM
					,A.UPD_DTM
			FROM BMS_ROUT_OPER_STAT2 A
				LEFT JOIN BMS_DL_CD_INFO RG
				ON A.ROUT_GRP = RG.DL_CD AND RG.CO_CD = 'ROUT_GRP'
				LEFT OUTER JOIN BMS_TRANSCOMP_MST C
				ON A.COMP_ID = C.COMP_ID
				LEFT OUTER JOIN BMS_ROUT_MST D
				ON A.ROUT_ID = D.ROUT_ID
			WHERE 
				OPER_DT IS NOT NULL
				<if test="CONTENT != NULL">
					AND A.ROUT_GRP LIKE CONCAT('%',#{CONTENT},'%') 
				</if>
				<if test="COMPSEARCH != NULL">
					AND A.COMP_ID LIKE CONCAT('%',#{COMPSEARCH},'%')
				</if>
				<if test="F_DATE != null and F_DATE != '' and L_DATE != null and L_DATE != '' ">
					AND DATE_FORMAT(A.OPER_DT, '%Y-%m-%d') BETWEEN #{F_DATE} AND #{L_DATE}
				</if>
			ORDER BY A.OPER_DT,A.ROUT_GRP,A.OPER_SN
		</select>
		
	  <select id="VH0207P0R0" resultType="Map">
			SELECT COMP_ID, COMP_NM
			FROM BMS_TRANSCOMP_MST
	  </select>


</mapper>