<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.mapper.AL0204.AL0204Mapper">

<select id="AL0204G0R0" resultType="Map">
	<!-- SELECT			
		A.ROUT_GRP
		,A.DAY_DIV
		,A.WAY_DIV
		,B.ROUT_GRP_NM
		,B.ROUT_TYPE
		,(SELECT STTN_NM FROM BMS_STTN_MST WHERE STTN_ID = A.ST_STTN_ID AND DEL_YN!='Y') ST_STTN_NM
		,(SELECT STTN_NM FROM BMS_STTN_MST WHERE STTN_ID = A.ED_STTN_ID AND DEL_YN!='Y') ED_STTN_NM
		,C.ROUT_ID
		,C.ROUT_NM
	FROM 
		BMS_OPER_PL_MST A
		LEFT OUTER JOIN BMS_ROUT_GRP_MST B
		ON A.ROUT_GRP = B.ROUT_GRP
		LEFT OUTER JOIN BMS_ROUT_MST C
		ON A.ROUT_GRP = C.ROUT_GRP AND A.WAY_DIV = C.WAY_DIV AND C.DEL_YN != 'Y'
	<where>
		<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
			AND (C.ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') || B.ROUT_GRP_NM LIKE CONCAT('%',#{CONTENT},'%'))
		</if>
		<if test="TYPE == 'ROUT_NM'">
			AND C.ROUT_NM LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'ROUT_GRP_NM'">
			AND B.ROUT_GRP_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
	</where>
	GROUP BY
		C.ROUT_ID, A.DAY_DIV
	ORDER BY
		A.ROUT_GRP, A.DAY_DIV, A.WAY_DIV, C.ROUT_ID -->
</select>

<select id="AL0204G1R0" resultType="Map" parameterType="Map">
	SELECT DISTINCT 
		DATE_FORMAT(A.OPER_DT, '%Y-%m-%d') OPER_DT 
		<!-- ,A.DAY_DIV -->
		,A.ALLOC_ID
		,A.SN
		,A.NODE_ID
		,C.NODE_NM
		,C.NODE_TYPE
		,DD.DL_CD_NM NODE_TYPE_NM
		,A.NODE_SN
		,A.ALLOC_NO
		,A.OPER_SN
		,A.ROUT_ID
		,B.ROUT_NM
		,A.WAY_DIV
		,A.COR_ID
		,A.ARRV_TM
		,A.DPRT_TM
		,A.UPD_DTM
		
		<!-- ,B.ROUT_GRP_NM
		,B.WAY_ASC_NM
		,B.WAY_DESC_NM -->
		<!-- ,C.ROUT_ID
		,C.NODE_NM
		,C.ACCRU_LEN -->
	FROM
		BMS_DAY_OPER_ALLOC_PL_NODE_INFO A 
		<!-- INNER JOIN BMS_ROUT_GRP_MST BA
		
		ON	A.ROUT_GRP = B.ROUT_GRP --> 
		<!-- INNER JOIN BMS_ROUT_NODE_CMPSTN C
		ON	 A.ROUT_ID =  C.ROUT_ID 
		AND A.NODE_ID = C.NODE_ID 
		AND A.NODE_SN = C.NODE_SN
		AND (C.NODE_TYPE = 'NT001'||C.NODE_TYPE = 'NT002') -->
		LEFT JOIN	BMS_ROUT_MST B
		ON			A.ROUT_ID = B.ROUT_ID
		LEFT JOIN	BMS_NODE_MST C
		ON			A.NODE_ID = C.NODE_ID
		LEFT JOIN 		BMS_DL_CD_INFO DD
		ON 				C.NODE_TYPE = DD.DL_CD 
		AND 			DD.CO_CD = 'NODE_TYPE'
	<!-- <if test="@kr.tracom.util.CommonUtil@notEmpty(NODE_TYPE)">			 
			AND C.NODE_TYPE = #{NODE_TYPE}
	</if> -->
	WHERE
		A.ALLOC_ID = #{ALLOC_ID}
		AND	A.OPER_DT = #{OPER_DT}
		<!-- AND A.DAY_DIV = #{DAY_DIV} --> 
		<if test="@kr.tracom.util.CommonUtil@notEmpty(ROUT_ID)">
			AND A.ROUT_ID = #{ROUT_ID} 	
		</if>
		<!-- AND (A.NODE_TYPE = 'NT001'||A.NODE_TYPE = 'NT002') -->
	<if test="@kr.tracom.util.CommonUtil@notEmpty(OPER_SN)">			 
			AND A.OPER_SN = #{OPER_SN}
	</if>
	<!-- ORDER BY OPER_SN, NODE_SN -->
	ORDER BY  		ALLOC_ID, ALLOC_NO, OPER_SN, NODE_SN
</select>

<select id="AL0204G1CNT" resultType="Map" parameterType="Map">
		SELECT 
			COUNT(*) CNT
		FROM 
			BMS_DAY_OPER_ALLOC_PL_NODE_INFO A
			LEFT OUTER JOIN BMS_MAIN_ROUT_NODE_INFO B
			ON	 A.ROUT_ID =  B.ROUT_ID AND A.NODE_ID = B.NODE_ID AND A.NODE_SN = B.NODE_SN AND 
			(B.NODE_TYPE = 'NT001'||B.NODE_TYPE = 'NT002')
		WHERE  
			A.ALLOC_ID = #{ALLOC_ID}
			AND A.OPER_DT = #{OPER_DT}
			<!-- AND A.DAY_DIV = #{DAY_DIV} --> 
			<if test="@kr.tracom.util.CommonUtil@notEmpty(ROUT_ID)">
				AND A.ROUT_ID = #{ROUT_ID} 
			</if>
			AND (A.NODE_TYPE = 'NT001'||A.NODE_TYPE = 'NT002')
		GROUP BY 
			OPER_SN 
		ORDER BY 
			OPER_SN
</select>


<update id="AL0204G0U0" parameterType="Map">
	UPDATE BMS_DAY_OPER_ALLOC_PL_NODE_INFO
	SET ARRV_TM = #{ARRV_TM}, DPRT_TM = #{DPRT_TM}, UPD_DTM = #{UPD_DTM}
	WHERE  ALLOC_ID = #{ALLOC_ID} AND SN = #{SN} AND NODE_ID = #{NODE_ID} AND NODE_SN = #{NODE_SN}   
</update>

</mapper>