<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.mapper.AL0302.AL0302Mapper">

<select id="AL0302G0R0" resultType="Map">
	SELECT A.ALLOC_ID,
		A.ALLOC_NM,
		A.ALLOC_ENM,
		<!-- AGA.ALLOC_GRP,
		AG.DL_CD_NM AS ALLOC_GRP_NM,
		RGA.ROUT_GRP,
		RG.DL_CD_NM AS ROUT_GRP_NM, 
		A.DAY_DIV,
		DD.DL_CD_NM DAY_DIV_NM,
		A.WAY_DIV,
		WD.DL_CD_NM WAY_DIV_NM,
		-->
		A.ST_STTN_ID,
		A.ED_STTN_ID,
		A.OPER_CNT,
		A.ALLOC_CNT,
		A.FST_TM,
		A.LST_TM,
		A.AM_PEAK_ST_TM,
		A.AM_PEAK_ED_TM,
		A.PM_PEAK_ST_TM,
		A.PM_PEAK_ED_TM,
		A.AM_PEAK,
		A.PM_PEAK,
		A.NONE_PEAK,
		A.REMARK,
		A.UPD_DTM,
		A.UPD_ID
	FROM BMS_ALLOC_OPER_MST A
		<!-- LEFT JOIN BMS_ROUT_GRP_ALLOC_CMPSTN RGA
		ON A.ALLOC_ID = RGA.ALLOC_ID
		LEFT JOIN BMS_DL_CD_INFO RG
		ON RGA.ROUT_GRP = RG.DL_CD AND RG.CO_CD = 'ROUT_GRP'
		LEFT JOIN BMS_ALLOC_GRP_ALLOC_CMPSTN AGA
		ON A.ALLOC_ID = AGA.ALLOC_ID
		LEFT JOIN BMS_DL_CD_INFO AG
		ON AGA.ALLOC_GRP = AG.DL_CD AND AG.CO_CD = 'ALLOC_GRP' -->
		LEFT JOIN BMS_DL_CD_INFO DD
		ON A.DAY_DIV= DD.DL_CD AND DD.CO_CD = 'DAY_DIV'
		LEFT JOIN BMS_DL_CD_INFO WD
		ON A.WAY_DIV= WD.DL_CD AND WD.CO_CD = 'WAY_DIV'
	<where>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(CONTENT)">
			<if test="TYPE == 'ALL'||TYPE == ''">
				AND (A.ALLOC_ID LIKE CONCAT('%',#{CONTENT},'%') || A.ALLOC_NM LIKE CONCAT('%',#{CONTENT},'%'))
			</if>
			<if test="TYPE == 'ALLOC_ID'">
				AND A.ALLOC_ID LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'ALLOC_NM'">
				AND A.ALLOC_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
		</if>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(DAY_DIV)">
				
				AND A.DAY_DIV  = #{DAY_DIV}	
		</if>
	</where>
		ORDER BY A.ALLOC_ID, A.DAY_DIV
</select>

<select id="AL0302SHI0" resultType="Map">
		SELECT 			ALLOC_NO
					,	ALLOC_NO ALLOC_NO_NM <!-- combobox에 '전체'쓰기 위함 -->
		FROM 			BMS_OPER_ALLOC_PL_ROUT_INFO
		WHERE			ALLOC_ID = #{ALLOC_ID}
		GROUP BY 		ALLOC_NO
</select>

<select id="AL0302SHI1" resultType="Map">
		SELECT			DAY_DIV
		FROM			BMS_OPER_PL_MST
		<where>
			<if test="CONTENT1 != null">
				ALLOC_ID = #{CONTENT1}	
			</if>
		</where>
</select>

<select id="AL0302G1R0" resultType="Map">
	SELECT B.ALLOC_ID
	       ,B.ALLOC_NO
	       ,B.SN
	       <!-- ,A.DAY_DIV
	       ,DD.DL_CD_NM DAY_DIV_NM
	       ,A.WAY_DIV
	       ,WD.DL_CD_NM WAY_DIV_NM -->
	       ,A.ROUT_ST_TM
	       ,B.VHC_ID
	       ,B.DRV_ID
	       ,B.ST_ROUT_ID
	       ,H.ROUT_NM ST_ROUT_NM
	       ,H.ROUT_GRP
	       ,H.WAY_DIV
	       ,B.ST_NODE_ID
	       ,B.ST_OPER_SN
	       ,B.ED_ROUT_ID
	       ,I.ROUT_NM ED_ROUT_NM
	       ,B.ED_NODE_ID
	       ,B.ED_OPER_SN
	       ,D.VHC_NO
	       ,E.DRV_NM
	       <!-- ,H.VHC_NO AS SEC_VHC_NO
	       ,I.COMP_NM AS SEC_COMP_NM
	       ,F.DRV_ID
			,F.SEC_DRV_ID
			,F.THR_DRV_ID
			,(SELECT DRV_NM FROM BMS_DRV_MST WHERE DRV_ID = F.DRV_ID) DRV_NM 
			,(SELECT DRV_NM FROM BMS_DRV_MST WHERE DRV_ID = F.SEC_DRV_ID) SEC_DRV_NM
			,(SELECT DRV_NM FROM BMS_DRV_MST WHERE DRV_ID = F.THR_DRV_ID) THR_DRV_NM
			,F.SEC_TRAN_TM
			,F.THR_TRAN_TM -->
	FROM 
		BMS_ALLOC_PL_INFO B
		LEFT JOIN BMS_OPER_ALLOC_PL_ROUT_INFO A
		ON B.ST_ROUT_ID = A.ROUT_ID
		AND	B.ST_OPER_SN = A.SN
		AND B.ALLOC_ID = A.ALLOC_ID
		LEFT JOIN BMS_ROUT_GRP_VHC_CMPSTN C
		ON B.VHC_ID = C.VHC_ID
		LEFT JOIN BMS_VHC_MST D
		ON B.VHC_ID = D.VHC_ID
		LEFT JOIN BMS_DRV_MST E
		ON B.DRV_ID = E.DRV_ID
		LEFT JOIN BMS_ROUT_MST H
		ON B.ST_ROUT_ID = H.ROUT_ID
		LEFT JOIN BMS_ROUT_MST I
		ON B.ED_ROUT_ID = I.ROUT_ID
		<!-- LEFT JOIN BMS_ALLOC_PL_DRV_INFO F
		ON A.ALLOC_ID = F.ALLOC_ID AND A.ALLOC_NO = F.ALLOC_NO
		LEFT JOIN BMS_DL_CD_INFO DD
		ON A.DAY_DIV= DD.DL_CD AND DD.CO_CD = 'DAY_DIV'
		LEFT JOIN BMS_DL_CD_INFO WD
		ON A.WAY_DIV= WD.DL_CD AND WD.CO_CD = 'WAY_DIV' -->
	WHERE
		B.ALLOC_ID = #{ALLOC_ID}
	<!-- AND 
		A.DAY_DIV = #{DAY_DIV} -->
	<!-- GROUP BY
		A.ALLOC_NO -->
	ORDER BY
		B.ALLOC_NO, STR_TO_DATE(A.ROUT_ST_TM, '%H:%i')
</select>

<update id="AL0302G1U0" parameterType="Map">
	<!-- INSERT INTO BMS_ALLOC_PL_INFO(
		ALLOC_ID
		,DAY_DIV
		,ALLOC_NO
		,WAY_DIV
		,VHC_ID
		,SEC_VHC_ID
		,SEC_TRAN_TM
		,UPD_DTM
		,UPD_ID
	)VALUES(
		#{ALLOC_ID}
		,#{DAY_DIV}
		,#{ALLOC_NO}
		,#{WAY_DIV}
		,#{VHC_ID}
		,#{SEC_VHC_ID}
		,#{SEC_TRAN_TM}
		,#{UPD_DTM}
		,#{SSN_USER_ID}
	)ON DUPLICATE KEY UPDATE
		VHC_ID = VALUES(VHC_ID)
		,SEC_VHC_ID = VALUES(SEC_VHC_ID)
		,SEC_TRAN_TM = VALUES(SEC_TRAN_TM)
		,UPD_DTM = VALUES(UPD_DTM)
		,UPD_ID	 = VALUES(UPD_ID) -->
		
	<!-- 0627 수정, INSERT문으로 되어있었음 -->
	UPDATE 			BMS_ALLOC_PL_INFO
	SET				ALLOC_NO = #{ALLOC_NO},
					VHC_ID = #{VHC_ID},
					DRV_ID = #{DRV_ID},
					ST_ROUT_ID = #{ST_ROUT_ID},
					ST_NODE_ID = #{ST_NODE_ID},
					ST_OPER_SN = #{ST_OPER_SN},
					ED_ROUT_ID = #{ED_ROUT_ID},
					ED_NODE_ID = #{ED_NODE_ID},
					ED_OPER_SN = #{ED_OPER_SN},
					UPD_DTM = #{UPD_DTM},
					UPD_ID = #{SSN_USER_ID}
	WHERE			ALLOC_ID = #{ALLOC_ID}
	AND				SN = #{SN}				
		
</update>

<delete id="AL0302G1D0" parameterType="Map">
	DELETE 
	FROM 			BMS_ALLOC_PL_INFO
	WHERE 			ALLOC_ID = #{ALLOC_ID}
	AND 			SN = #{SN} 
</delete>

<insert id="AL0302G1I0" parameterType="Map">
	INSERT INTO BMS_DAY_ALLOC_PL_INFO(
		OPER_DT
		,ALLOC_ID
		,ALLOC_NO
		,WAY_DIV
		,VHC_ID
		,SEC_VHC_ID
		,SEC_TRAN_TM
		,UPD_DTM
	)VALUES(
		DATE_FORMAT(#{OPER_DT}, '%Y-%m-%d')
		,#{ALLOC_ID}
		,#{ALLOC_NO}
		,#{WAY_DIV}
		,#{VHC_ID}
		,#{SEC_VHC_ID}
		,#{SEC_TRAN_TM}
		,#{UPD_DTM}
	)ON DUPLICATE KEY UPDATE
		VHC_ID = VALUES(VHC_ID)
		,SEC_VHC_ID = VALUES(SEC_VHC_ID)
		,SEC_TRAN_TM = VALUES(SEC_TRAN_TM)
		,UPD_DTM = VALUES(UPD_DTM)
</insert>

<insert id="AL0302G1I1" parameterType="Map">

	INSERT INTO BMS_DAY_DRV_ALLOC_INFO(
		OPER_DT
		,ALLOC_ID
		,ALLOC_NO
		,DRV_ID
		,SEC_DRV_ID
		,THR_DRV_ID
		,SEC_TRAN_TM
		,THR_TRAN_TM
	)VALUES(
		DATE_FORMAT(#{OPER_DT}, '%Y-%m-%d')
		,#{ALLOC_ID}
		,#{ALLOC_NO}
		,#{DRV_ID}
		,#{SEC_DRV_ID}
		,#{THR_DRV_ID}
		,#{SEC_TRAN_TM}
		,#{THR_TRAN_TM}
	)ON DUPLICATE KEY UPDATE
		DRV_ID = VALUES(DRV_ID)
		,SEC_DRV_ID = VALUES(SEC_DRV_ID)
		,THR_DRV_ID = VALUES(THR_DRV_ID)
		,SEC_TRAN_TM = VALUES(SEC_TRAN_TM)
		,THR_TRAN_TM = VALUES(THR_TRAN_TM)
</insert>

<insert id="AL0302G1I2" parameterType="Map">
	<selectKey resultType="string" keyProperty="SN" order="BEFORE">
	        SELECT IFNULL(MAX(SN)+1,1) FROM BMS_ALLOC_PL_INFO  WHERE  ALLOC_ID = #{ALLOC_ID}
	</selectKey>  
	INSERT INTO		BMS_ALLOC_PL_INFO(
						ALLOC_ID,
						ALLOC_NO,
						SN,
						VHC_ID,
						DRV_ID,
						ST_ROUT_ID,
						ST_NODE_ID,
						ST_OPER_SN,
						ED_ROUT_ID,
						ED_NODE_ID,
						ED_OPER_SN,
						UPD_DTM,
						UPD_ID
					)
	VALUES			(
						#{ALLOC_ID},
						#{ALLOC_NO},
						#{SN},
						#{VHC_ID},
						#{DRV_ID},
						#{ST_ROUT_ID},
						#{ST_NODE_ID},
						#{ST_OPER_SN},
						#{ED_ROUT_ID},
						#{ED_NODE_ID},
						#{ED_OPER_SN},
						#{UPD_DTM},
						#{SSN_USER_ID}
	
					)
</insert>

<insert id="AL0302G1I3" parameterType="Map">
	INSERT INTO 	BMS_DAY_ALLOC_PL_INFO(
						OPER_DT,
						ALLOC_ID,
						ALLOC_NO,
						SN,
						VHC_ID,
						DRV_ID,
						ST_ROUT_ID,
						ST_OPER_SN,
						ED_ROUT_ID,
						ED_OPER_SN,
						UPD_DTM
					)
	VALUES			(
						#{OPER_DT},
						#{ALLOC_ID},
						#{ALLOC_NO},
						#{SN},
						#{VHC_ID},
						#{DRV_ID},
						#{ST_ROUT_ID},
						#{ST_OPER_SN},
						#{ED_ROUT_ID},
						#{ED_OPER_SN},
						#{UPD_DTM}	
					)				
						ON DUPLICATE KEY UPDATE
						VHC_ID = VALUES(VHC_ID)
					,	DRV_ID = VALUES(DRV_ID)
					,	ST_ROUT_ID = VALUES(ST_ROUT_ID)
					,	ST_OPER_SN = VALUES(ST_OPER_SN)
					,	UPD_DTM = VALUES(UPD_DTM)				
</insert>

<update id="AL0302G2U0" parameterType="Map">
	UPDATE
		BMS_DAY_ALLOC_PL_INFO
	SET
		VHC_ID = #{VHC_ID}
		,SEC_VHC_ID = #{SEC_VHC_ID}
		,SEC_TRAN_TM = #{SEC_TRAN_TM}
		,UPD_DTM = #{UPD_DTM}
	WHERE
		ALLOC_ID = #{ALLOC_ID}
	AND
		ALLOC_NO = #{ALLOC_NO}
	AND
		OPER_DT = #{OPER_DT}
</update>

<update id="AL0302G2U1" parameterType="Map">
	UPDATE
		BMS_DAY_DRV_ALLOC_INFO
	SET
		DRV_ID = #{DRV_ID}
		,SEC_DRV_ID = #{SEC_DRV_ID}
		,THR_DRV_ID = #{THR_DRV_ID}
		,SEC_TRAN_TM = #{SEC_TRAN_TM}
		,THR_TRAN_TM = #{THR_TRAN_TM}
	WHERE
		ALLOC_ID = #{ALLOC_ID}
	AND
		ALLOC_NO = #{ALLOC_NO}
	AND
		DAY_DIV = #{DAY_DIV}
	AND
		OPER_DT = #{OPER_DT}
</update>

<select id="AL0302G2R0" resultType="Map">
	SELECT A.ALLOC_ID
	       ,AO.DAY_DIV
	       ,A.ALLOC_NO
	       ,B.VHC_ID
	       ,DATE_FORMAT(B.OPER_DT, '%Y-%m-%d') OPER_DT
	       ,D.VHC_NO
	       ,E.COMP_NM
	       ,H.DRV_ID
			,H.SEC_DRV_ID
			,H.THR_DRV_ID
			,(SELECT DRV_NM FROM BMS_DRV_MST WHERE DRV_ID = H.DRV_ID) DRV_NM
			,(SELECT DRV_NM FROM BMS_DRV_MST WHERE DRV_ID = H.SEC_DRV_ID) SEC_DRV_NM
			,(SELECT DRV_NM FROM BMS_DRV_MST WHERE DRV_ID = H.THR_DRV_ID) THR_DRV_NM
			,H.SEC_TRAN_TM
			,H.THR_TRAN_TM
	FROM 
		BMS_OPER_ALLOC_PL_ROUT_INFO A
		INNER JOIN BMS_ALLOC_OPER_MST AO
			ON A.ALLOC_ID = AO.ALLOC_ID
		LEFT JOIN BMS_DAY_ALLOC_PL_INFO B
			ON A.ALLOC_ID = B.ALLOC_ID AND A.ALLOC_NO = B.ALLOC_NO
		LEFT JOIN BMS_VHC_MST D
			ON B.VHC_ID = D.VHC_ID
		LEFT JOIN BMS_TRANSCOMP_MST E
			ON D.COMP_ID = E.COMP_ID
		LEFT JOIN BMS_ALLOC_PL_DRV_INFO F
			ON A.ALLOC_ID = F.ALLOC_ID AND A.ALLOC_NO = F.ALLOC_NO
		LEFT JOIN BMS_DAY_DRV_ALLOC_INFO H
			ON A.ALLOC_ID = H.ALLOC_ID AND A.ALLOC_NO = H.ALLOC_NO  
	WHERE
		A.ALLOC_ID = #{ALLOC_ID}
	AND 
		AO.DAY_DIV = #{DAY_DIV}
	AND
		B.OPER_DT = #{OPER_DT} AND H.OPER_DT = #{OPER_DT}

	GROUP BY
		A.ALLOC_NO
	ORDER BY
		A.ALLOC_NO
</select>

<select id="AL0302P0R0" resultType="Map">
	SELECT 			A.ALLOC_ID
				,	A.ALLOC_NO
				,	A.SN		AS ST_OPER_SN
				,	A.ROUT_ID	AS ST_ROUT_ID
				,	B.ROUT_NM	AS ST_ROUT_NM
				,	A.ROUT_ST_TM
				,	A.ROUT_ED_TM
				,	B.ROUT_GRP
				,	RG.DL_CD_NM AS ROUT_GRP_NM
				,	B.WAY_DIV
				,	WD.DL_CD_NM	AS WAY_DIV_NM
				
	FROM			BMS_OPER_ALLOC_PL_ROUT_INFO A
	LEFT JOIN		BMS_ROUT_MST	B
	ON				A.ROUT_ID = B.ROUT_ID
	LEFT JOIN		BMS_DL_CD_INFO	WD
	ON				B.WAY_DIV = WD.DL_CD
	AND				WD.CO_CD = 'WAY_DIV'
	LEFT JOIN		BMS_DL_CD_INFO  RG
	ON				B.ROUT_GRP = RG.DL_CD
	AND				RG.CO_CD = 'ROUT_GRP'
		
	WHERE			A.ALLOC_ID = #{ALLOC_ID}
	<if test= "ALLOC_NO != null and ALLOC_NO != ''">
		AND			A.ALLOC_NO = #{ALLOC_NO}
	</if>
	<if test= "CONTENT != null and CONTENT != ''">
		AND			B.ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') || A.ROUT_ID LIKE CONCAT('%',#{CONTENT},'%')
	</if>
</select>

</mapper>
