<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="kr.tracom.mapper.ST0206.ST0206Mapper">
  
  <select id="ST0206G0R0" resultType="Map">
      SELECT  
            A.NODE_ID
            ,A.NODE_NM
            ,B.ROUT_GRP
            ,B.LINK_SN
            ,B.WAY_DIV
            ,C.DL_CD_NM AS ROUT_GRP_NM
      FROM 
            BMS_NODE_MST A
            LEFT OUTER JOIN BMS_ROUT_STTN_STOP_STAT B
            ON A.NODE_ID = B.NODE_ID
            LEFT JOIN BMS_DL_CD_INFO C
            ON B.ROUT_GRP = C.DL_CD AND C.CO_CD = 'ROUT_GRP'
      WHERE 
            A.USE_YN = 'Y'
            AND A.NODE_TYPE = 'NT002'
            <if test= "ROUT_GRP != null and ROUT_GRP != ''">
               AND B.ROUT_GRP = #{ROUT_GRP}
            </if>
            <if test= "WAY_DIV != null and WAY_DIV != ''">
               AND B.WAY_DIV = #{WAY_DIV}
            </if>
      GROUP BY 
            NODE_ID
      ORDER BY 
            LINK_SN ASC
      
   </select>
  
  <!-- 집계 테이블 INSERT 프로시저 -->
  <select id="ST0206PROC" resultType="Map">
     CALL PROC_MAKE_ROUT_AVER_OPER_SP_STAT(#{OPER_DT});
  </select> 
  
  <!-- 피봇 테이블 데이터 -->
  <select id="ST0206G1R0" resultType="Map">
        SELECT
        <if test="SELECT_DIV == 'TIME'">
           DATE_FORMAT(A.OPER_DT, '%Y-%m-%d') OPER_DT
         ,A.ROUT_GRP
         ,CONCAT(A.STAT_H, '시') AS STAT_H
         ,ROUND(AVG(IFNULL(A.AVRG_STOP_TIME,0)),2) AS AVRG_STOP_TIME
         ,ROUND(AVG(IFNULL(A.AVRG_ON_OFF_TIME,0)),2) AS AVRG_ON_OFF_TIME
         ,A.NODE_ID
         ,B.NODE_NM
      </if>
      <if test="SELECT_DIV == 'DAY'">
         DATE_FORMAT(DATE(A.OPER_DT), '%m-%d') OPER_DT
         ,ROUND(AVG(IFNULL(A.AVRG_STOP_TIME,0)),2) AS AVRG_STOP_TIME
         ,ROUND(AVG(IFNULL(A.AVRG_ON_OFF_TIME,0)),2) AS AVRG_ON_OFF_TIME
         ,A.NODE_ID
         ,A.ROUT_GRP
         ,B.NODE_NM
      </if>
      <if test="SELECT_DIV == 'MONTH'">
         MONTH(A.OPER_DT) AS OPER_DT
         ,ROUND(AVG(IFNULL(A.AVRG_STOP_TIME,0)),2) AS AVRG_STOP_TIME
         ,ROUND(AVG(IFNULL(A.AVRG_ON_OFF_TIME,0)),2) AS AVRG_ON_OFF_TIME
         ,A.ROUT_GRP
         ,A.NODE_ID
         ,B.NODE_NM
      </if>
      FROM
         BMS_ROUT_STTN_STOP_STAT A
         LEFT JOIN BMS_NODE_MST B
         ON A.NODE_ID = B.NODE_ID
      WHERE
         A.NODE_ID IN
      <foreach collection="NODE_ID" item="item" index="index"  open="(" close=")" separator=",">
         #{item}
      </foreach>
         <if test="F_DATE != null and F_DATE != '' and L_DATE != null and L_DATE != '' ">
            AND DATE_FORMAT(A.OPER_DT, '%Y-%m-%d') BETWEEN #{F_DATE} AND #{L_DATE}
         </if>
         
         <if test="DAY_DIV != null and DAY_DIV != ''">
            AND DAY_DIV = #{DAY_DIV}
         </if>
      <if test="SELECT_DIV == 'TIME'">
      GROUP BY
         NODE_ID, A.STAT_H
      ORDER BY
         NODE_ID, A.STAT_H ASC
      </if>
      <if test="SELECT_DIV == 'DAY'">
      GROUP BY
         OPER_DT, A.NODE_ID
      ORDER BY
         A.NODE_ID, OPER_DT ASC
      </if>
      <if test="SELECT_DIV == 'MONTH'">
      GROUP BY 
         A.NODE_ID
      ORDER BY
         A.NODE_ID, A.OPER_DT ASC
      </if>
  </select>
  
  <!-- 그래프 데이터 -->
   <select id="ST0206G1R1" resultType="Map">
       SELECT
          ROUND(A.MAX_STOP_TIME,1) AS MAX_STOP_TIME,
          ROUND(A.MIN_STOP_TIME,1) AS MIN_STOP_TIME,
        <if test="SELECT_DIV == 'TIME'">
           DATE_FORMAT(A.OPER_DT, '%Y-%m-%d') OPER_DT
         ,A.ROUT_GRP
         ,CONCAT(A.STAT_H, '시') AS STAT_H
         ,ROUND(AVG(IFNULL(A.AVRG_STOP_TIME,0)),2) AS AVRG_STOP_TIME
         ,ROUND(AVG(IFNULL(A.AVRG_ON_OFF_TIME,0)),2) AS AVRG_ON_OFF_TIME
         ,A.NODE_ID
         ,B.NODE_NM
      </if>
      <if test="SELECT_DIV == 'DAY'">
         DATE_FORMAT(DATE(A.OPER_DT), '%m-%d') OPER_DT
         ,ROUND(AVG(IFNULL(A.AVRG_STOP_TIME,0)),2) AS AVRG_STOP_TIME
         ,ROUND(AVG(IFNULL(A.AVRG_ON_OFF_TIME,0)),2) AS AVRG_ON_OFF_TIME
         ,A.NODE_ID
         ,A.ROUT_GRP
         ,B.NODE_NM
      </if>
      <if test="SELECT_DIV == 'MONTH'">
         MONTH(A.OPER_DT) AS OPER_DT
         ,ROUND(AVG(IFNULL(A.AVRG_STOP_TIME,0)),2) AS AVRG_STOP_TIME
         ,ROUND(AVG(IFNULL(A.AVRG_ON_OFF_TIME,0)),2) AS AVRG_ON_OFF_TIME
         ,A.ROUT_GRP
         ,A.NODE_ID
         ,B.NODE_NM
      </if>
      
      FROM
         BMS_ROUT_STTN_STOP_STAT A
         LEFT JOIN BMS_NODE_MST B
         ON A.NODE_ID = B.NODE_ID
      WHERE
         A.NODE_ID IN
      <foreach collection="NODE_ID" item="item" index="index"  open="(" close=")" separator=",">
         #{item}
      </foreach>
         <if test="F_DATE != null and F_DATE != '' and L_DATE != null and L_DATE != '' ">
            AND DATE_FORMAT(A.OPER_DT, '%Y-%m-%d') BETWEEN #{F_DATE} AND #{L_DATE}
         </if>
         
         <if test="DAY_DIV != null and DAY_DIV != ''">
            AND DAY_DIV = #{DAY_DIV}
         </if>
      <if test="SELECT_DIV == 'TIME'">
      GROUP BY
         NODE_ID, A.STAT_H
      ORDER BY
         NODE_ID, A.STAT_H ASC
      </if>
      <if test="SELECT_DIV == 'DAY'">
      GROUP BY
         OPER_DT, A.NODE_ID
      ORDER BY
         A.NODE_ID, OPER_DT ASC
      </if>
      <if test="SELECT_DIV == 'MONTH'">
      GROUP BY 
         A.NODE_ID
      ORDER BY
         A.NODE_ID, A.OPER_DT ASC
      </if>
  </select>

</mapper>